*{
  margin: 0;
  box-sizing: border-box;
}

/* Unsets the predefined root element styles */
#root {
  max-width: unset !important;
  margin: 0 !important;
  padding: 0 !important;
}

/*Header styling*/
header{
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
  background-color: #3527ff;
  color: #d0dafc;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left
}

#container{
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #4f6aef;
  text-align: center;
}

/* Nav styling */
nav{
  width: 30%;
}

nav ul{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #4f6aef;
  font-size: calc(2px + 2vw);
  text-align: center;
  list-style: none;
  padding-left: 0;
}

nav li{
  font-size: calc(1px + 2vw);
  width: 90%;
  background-color:#bdccfc;
  padding: 1vh 0;
  margin: 7vh auto;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

nav a{
  text-decoration: none;
}

/* Main content styling */
main{
  display: flex;
  flex-direction: column;
  width:70%;
  background-color: #d0dafc;
  font-family: Arial, Helvetica, sans-serif;
}

main p{
  margin: 0 1vw;
  font-size: calc(2px + 2vw);
}

/* Home page styling */
#profile-image{
  max-width: 100%;
  border: 2px solid #3527ff;
  border-radius: 2%;
}

#main{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2vh 2vw;
}

#main-text{
  align-self: center;
  width: 60%;
  margin: 1vh 1vw;
  font-size: calc(2px + 1.5vw);
}

#main-image{
  width: 40%;
  margin: 1vh 1vw;
}

#main-title{
  margin: 2vw 0;
  text-align: center;
  font-size: calc(4px + 2vw);
  color: #3527ff;
}

#lower-main p {
  font-size: calc(0.35px + 1.75vw);
}

/* Education page styling */
#education{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2vh 2vw;
}

#education-text{
  align-self: center;
  width: 100%;
  margin: 1vh 1vw;
}

#education-image{
  display: block;
  max-width: 62%;
  margin: 0 auto;
}

#education-title{
  margin: 2vw 0;
  text-align: center;
  font-size: calc(4px + 2vw);
  color: #3527ff;
}

#education-text h3 {
  font-size: calc(2px + 1.5vw);
  margin-top: 5vw;
}

#education-text ul {
  list-style-type: none;
  padding: 0;
  font-size: calc(4px + 1.5vw);
  text-align: left;
}

/* Experience Page styling */
#experience{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2vh 2vw;
}

#experience-title{
  margin: 2vw 0;
  text-align: center;
  font-size: calc(4px + 2vw);
  color: #3527ff;
}

main ul {
  list-style-type: none;
  text-align: left;
}

#experience ul li {
  font-size: calc(7.45px + 1vw);
  padding-bottom: 5%;
}

/* Certifications page styling */
#certifications{
  align-self: center;
  width: 100%;
  padding: 2vw;
}

#certifications-title{
  margin: 2vw 0;
  text-align: center;
  font-size: calc(4px + 2vw);
  color: #3527ff;
}

main ul {
  list-style-type: none;
}

#certifications ul li {
  font-size: calc(7px + 1vw);
  padding-bottom: 5%;
}

/* Projects page styling */


/* References page styling */
#references{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2vh 2vw;
}

#references ul {
  list-style-type: none;
}

#references ul li {
  font-size: calc(7px + 1vw);
  padding-bottom: 3%;
}

#references-title{
  margin: 2vw;
  text-align: center;
  font-size: calc(4px + 2vw);
  color: #3527ff;
}

/* Documents page styling */
#resume-image{
  max-width: 100%;
}

#documents{
  display: flex;
  flex-direction: row;
  padding: 2vh 2vw;
}

#documents-other{
  width: 20%;
  margin: 1vh 1vw;
}

#documents-other ul{
  padding-bottom: 10%;
  padding: 1vh 2vw;
}

#documents-other ul li{
  padding-bottom: 5%;
}

#documents-image{
  width: 70%;
  margin: 1vh;
}

#documents-title{
  margin: 2vw 0;
  text-align: center;
  font-size: calc(4px + 2vw);
  color: #3527ff;
}

/* Footer styling */
footer{
  background-color: #3527ff;
  color: #d0dafc;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
}

footer a{
  color: #FFFFFF;
}

/* Modifications for smaller screens */
@media screen and (max-width: 750px) {
  /* Header styling */
  header{
      align-items: center;
  }

  #container{
      width: 100%;
      height: 100vh;
      flex-direction: column;
  }

  /* Nav styling */
  nav{
      width: 100%;
  }

  nav ul{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      padding-left: 0;
  }

  nav li{
      font-size: calc(2px + 1.5vw);
      padding: 1% .5%;
      margin: 1% .5%;
  }

  nav a{
      text-decoration: none;
  }

  /* Main content styling */
  main{
      display: flex;
      flex-direction: column;
      width:100%;
      height: 100vh;
  }

  main p{
      margin: 2% 2%;
      font-size: calc(2px + 3vw);
  }

  #profile-image{
      max-width: 100%;
  }

  #main{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  #main-text{
      align-self: center;
      width: 100%;
      margin: 1vh 1vw;
  }

  #main-image{
      margin: 1vh auto;
  }

  #main-title{
      text-align: center;
      font-size: calc(10px + 2vw);
  }

  #lower-main p {
      font-size: calc(2px + 1.5vw);
  }
}